@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&subset=latin-ext");
.column-card-list .card:before, .column-card-list .card:after {
  content: " ";
  display: table; }
.column-card-list .card:after {
  clear: both; }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #0E0C31; }

.board {
  text-align: center; }

.header {
  margin: 0 0 60px;
  padding: 0;
  background-color: #FBFCF6;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header h1 {
    font-size: 48px;
    font-weight: 500;
    color: #0E0C31; }
  .header button.create-column {
    padding: 10px 30px;
    margin: 20px 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid;
    border-radius: 5px;
    border-color: #578E8B;
    color: #fff;
    background-color: #578E8B;
    transition: .5s;
    float: right; }
    .header button.create-column:hover {
      background-color: #376461;
      border-color: #376461; }

.column-container {
  width: 90%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 300px;
  background-color: #FBFCF6;
  min-height: 150px;
  margin: 20px;
  padding-bottom: 20px;
  position: relative; }
  .column button {
    display: inline-block;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid;
    color: #fff;
    transition: .5s; }
  .column button.btn-col-delete {
    position: absolute;
    right: 36px;
    top: 0;
    margin: 5px;
    border-color: #FF626E;
    background-color: #FF626E; }
    .column button.btn-col-delete:hover {
      background-color: #712E2A;
      border-color: #712E2A; }
  .column button.btn-col-edit {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    border-color: #9BBABF;
    background-color: #9BBABF; }
    .column button.btn-col-edit:hover {
      background-color: #719CA6;
      border-color: #719CA6; }
  .column button.add-card {
    border-radius: 50%;
    border-color: #578E8B;
    background-color: #578E8B;
    font-size: 22px;
    line-height: 28px;
    padding: 0 8px;
    margin: 20px;
    position: absolute;
    bottom: 0;
    right: 0; }
    .column button.add-card:hover {
      background-color: #376461;
      border-color: #376461; }

.column-title {
  font-size: 18px;
  color: #0E0C31;
  background-color: #FFDFCA;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 20px; }

.column-card-list {
  min-height: 150px; }
  .column-card-list .card {
    text-align: left;
    margin: 0 0 10px 10px; }
    .column-card-list .card button {
      display: inline-block;
      float: left;
      padding: 3px 6px;
      margin-right: 3px;
      font-size: 10px;
      cursor: pointer;
      border: 1px solid;
      color: #fff;
      transition: .5s; }
    .column-card-list .card button.btn-edit {
      border-color: #9BBABF;
      background-color: #9BBABF; }
      .column-card-list .card button.btn-edit:hover {
        background-color: #719CA6;
        border-color: #719CA6; }
    .column-card-list .card button.btn-delete {
      border-color: #FF626E;
      background-color: #FF626E; }
      .column-card-list .card button.btn-delete:hover {
        background-color: #712E2A;
        border-color: #712E2A; }
    .column-card-list .card p {
      display: inline-block;
      line-height: 20px;
      font-size: 14px;
      margin-left: 7px; }

.card-placeholder {
  border: 2px dotted #0E0C31;
  height: 40px;
  margin: 0 10px; }

/*# sourceMappingURL=style.prefixed.css.map */